In [5]:
import pandas
df1=pandas.read_csv("traffic.csv")
print(df1)

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [5]:
df2=pandas.read_excel("traffic.xlsx")
print(df2)

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [7]:
df3=pandas.read_json("traffic.json")
print(df3)

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [9]:
df2=pandas.read_excel("traffic.xlsx",header=None)
print(df2)

       0         1   2          3       4          5
0   Date  Visitors  BR    Country  Clicks        Day
1      1      1500  20        USA      20    Tuesday
2      2       700  25         UK      35  Wednesday
3      3       900  15      India      37   Thursday
4      4       400  35        USA      12     Friday
5      5       500  14     Canada      35   Saturday
6      6       700  15      India      32     Sunday
7      7       600  20      India      37     Monday
8      8       700  16        USA      40    Tuesday
9      9      1200  27        USA      52  Wednesday
10    10      1400  32  Australia      57   Thursday

In [10]:
df2=pandas.read_excel("traffic.xlsx")
print(df2)

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [14]:
dff=df2.set_index("Day")

In [16]:
dff

           Date  Visitors  BR    Country  Clicks
Day
Tuesday       1      1500  20        USA      20
Wednesday     2       700  25         UK      35
Thursday      3       900  15      India      37
Friday        4       400  35        USA      12
Saturday      5       500  14     Canada      35
Sunday        6       700  15      India      32
Monday        7       600  20      India      37
Tuesday       8       700  16        USA      40
Wednesday     9      1200  27        USA      52
Thursday     10      1400  32  Australia      57

In [18]:
dff.shape

(10, 5)

In [20]:
df5=pandas.read_csv("traffic-commas.txt")
print(df5)

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

df6=pandas.read_csv("traffi-semi-solons.txt")
print(df6)

In [22]:
df6=pandas.read_csv("traffic-semi-colons.txt")
print(df6)

  Date;Visitors;BR;Country;Clicks;Day
0            1;1500;20;USA;20;Tuesday
1            2;700;25;UK;35;Wednesday
2          3;900;15;India;37;Thursday
3              4;400;35;USA;12;Friday
4         5;500;14;Canada;35;Saturday
5            6;700;15;India;32;Sunday
6            7;600;20;India;37;Monday
7             8;700;16;USA;40;Tuesday
8          9;1200;27;USA;52;Wednesday
9    10;1400;32;Australia;57;Thursday

In [25]:
df7=pandas.read_csv("traffic-semi-colons.txt",sep=";")
print(df7)

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [6]:
df8=pandas.read_csv("https://shubhamsarda.com/test/traffic-commas.txt")
print(df8)

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [ ]:
df9=pandas.read_json("https://api.myjson.com/bins/c1v3k")
print(df9)

In [36]:
df99=df8.loc[2:6,"Country":"Day"]

In [38]:
df99

  Country  Clicks       Day
2   India      37  Thursday
3     USA      12    Friday
4  Canada      35  Saturday
5   India      32    Sunday
6   India      37    Monday

In [41]:
df98=df8.loc[3,"Clicks"]
print(df98)

12

In [43]:
df100=df8.loc[:,"Clicks"]
print(df100)

0    20
1    35
2    37
3    12
4    35
5    32
6    37
7    40
8    52
9    57
Name: Clicks, dtype: int64

In [8]:
df101=df8.iloc[1:3,2:4]
print(df101)

   BR Country
1  25      UK
2  15   India

In [12]:
df8=pandas.read_csv("https://shubhamsarda.com/test/traffic-commas.txt")
print(df8)

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [14]:
df1=df8.drop("Clicks",1)
print(df1)

   Date  Visitors  BR    Country        Day
0     1      1500  20        USA    Tuesday
1     2       700  25         UK  Wednesday
2     3       900  15      India   Thursday
3     4       400  35        USA     Friday
4     5       500  14     Canada   Saturday
5     6       700  15      India     Sunday
6     7       600  20      India     Monday
7     8       700  16        USA    Tuesday
8     9      1200  27        USA  Wednesday
9    10      1400  32  Australia   Thursday

In [16]:
df2=df8.drop(7,0)
print(df2)

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [18]:
df3=df8.drop(df8.columns[2],1)
print(df3)

   Date  Visitors    Country  Clicks        Day
0     1      1500        USA      20    Tuesday
1     2       700         UK      35  Wednesday
2     3       900      India      37   Thursday
3     4       400        USA      12     Friday
4     5       500     Canada      35   Saturday
5     6       700      India      32     Sunday
6     7       600      India      37     Monday
7     8       700        USA      40    Tuesday
8     9      1200        USA      52  Wednesday
9    10      1400  Australia      57   Thursday

In [23]:
df4=df8.drop(df8.index[1],0)
print(df4)

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [27]:
print(df8.columns[1])

Visitors

In [33]:
df4["Status"]=["a"] * 9
print(df4)

   Date  Visitors  BR    Country  Clicks        Day Status
0     1      1500  20        USA      20    Tuesday      a
2     3       900  15      India      37   Thursday      a
3     4       400  35        USA      12     Friday      a
4     5       500  14     Canada      35   Saturday      a
5     6       700  15      India      32     Sunday      a
6     7       600  20      India      37     Monday      a
7     8       700  16        USA      40    Tuesday      a
8     9      1200  27        USA      52  Wednesday      a
9    10      1400  32  Australia      57   Thursday      a

In [38]:
df4.shape

(9, 7)

In [40]:
df4.shape[1]

7

In [43]:
df4["Status"]=["a"] * df4.shape[0]
print(df4)

   Date  Visitors  BR    Country  Clicks        Day Status
0     1      1500  20        USA      20    Tuesday      a
2     3       900  15      India      37   Thursday      a
3     4       400  35        USA      12     Friday      a
4     5       500  14     Canada      35   Saturday      a
5     6       700  15      India      32     Sunday      a
6     7       600  20      India      37     Monday      a
7     8       700  16        USA      40    Tuesday      a
8     9      1200  27        USA      52  Wednesday      a
9    10      1400  32  Australia      57   Thursday      a

In [47]:
df4["Day"]=df4["Day"] + "June"
df4

   Date  Visitors  BR    Country  Clicks                    Day Status
0     1      1500  20        USA      20    TuesdayJuneJuneJune      a
2     3       900  15      India      37   ThursdayJuneJuneJune      a
3     4       400  35        USA      12     FridayJuneJuneJune      a
4     5       500  14     Canada      35   SaturdayJuneJuneJune      a
5     6       700  15      India      32     SundayJuneJuneJune      a
6     7       600  20      India      37     MondayJuneJuneJune      a
7     8       700  16        USA      40    TuesdayJuneJuneJune      a
8     9      1200  27        USA      52  WednesdayJuneJuneJune      a
9    10      1400  32  Australia      57   ThursdayJuneJuneJune      a

In [49]:
df8

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [51]:
df1=df8.T

In [53]:
df1

,0,1,2,3,4,5,6,7,8,9
Date,1,2,3,4,5,6,7,8,9,10
Visitors,1500,700,900,400,500,700,600,700,1200,1400
BR,20,25,15,35,14,15,20,16,27,32
Country,USA,UK,India,USA,Canada,India,India,USA,USA,Australia
Clicks,20,35,37,12,35,32,37,40,52,57
Day,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Monday,Tuesday,Wednesday,Thursday

In [55]:
df1["10"]=[11,2000,34,"India",34,"Friday"]

In [57]:
df1

,0,1,2,3,4,5,6,7,8,9,10
Date,1,2,3,4,5,6,7,8,9,10,11
Visitors,1500,700,900,400,500,700,600,700,1200,1400,2000
BR,20,25,15,35,14,15,20,16,27,32,34
Country,USA,UK,India,USA,Canada,India,India,USA,USA,Australia,India
Clicks,20,35,37,12,35,32,37,40,52,57,34
Day,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday

In [59]:
df8=df1.T

In [60]:
df8

   Date Visitors  BR    Country Clicks        Day
0     1     1500  20        USA     20    Tuesday
1     2      700  25         UK     35  Wednesday
2     3      900  15      India     37   Thursday
3     4      400  35        USA     12     Friday
4     5      500  14     Canada     35   Saturday
5     6      700  15      India     32     Sunday
6     7      600  20      India     37     Monday
7     8      700  16        USA     40    Tuesday
8     9     1200  27        USA     52  Wednesday
9    10     1400  32  Australia     57   Thursday
10   11     2000  34      India     34     Friday