In [2]:
import pandas
df1=pandas.read_csv("traffic.csv")
print(df1)

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [5]:
df2=pandas.read_excel("traffic.xlsx")
print(df2)

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [7]:
df3=pandas.read_json("traffic.json")
print(df3)

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [9]:
df2=pandas.read_excel("traffic.xlsx",header=None)
print(df2)

       0         1   2          3       4          5
0   Date  Visitors  BR    Country  Clicks        Day
1      1      1500  20        USA      20    Tuesday
2      2       700  25         UK      35  Wednesday
3      3       900  15      India      37   Thursday
4      4       400  35        USA      12     Friday
5      5       500  14     Canada      35   Saturday
6      6       700  15      India      32     Sunday
7      7       600  20      India      37     Monday
8      8       700  16        USA      40    Tuesday
9      9      1200  27        USA      52  Wednesday
10    10      1400  32  Australia      57   Thursday

In [10]:
df2=pandas.read_excel("traffic.xlsx")
print(df2)

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [14]:
dff=df2.set_index("Day")

In [16]:
dff

           Date  Visitors  BR    Country  Clicks
Day
Tuesday       1      1500  20        USA      20
Wednesday     2       700  25         UK      35
Thursday      3       900  15      India      37
Friday        4       400  35        USA      12
Saturday      5       500  14     Canada      35
Sunday        6       700  15      India      32
Monday        7       600  20      India      37
Tuesday       8       700  16        USA      40
Wednesday     9      1200  27        USA      52
Thursday     10      1400  32  Australia      57

In [18]:
dff.shape

(10, 5)

In [20]:
df5=pandas.read_csv("traffic-commas.txt")
print(df5)

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [5]:
df2=pandas.read_excel("traffi")
print(df2)

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday